!!!5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "/stylesheets/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/style.css"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %meta{:name => "lang", :content => "en"}
    %title Election Year Linkbait
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.7.1.min.js"}
    
  %body
    = yield
    = partial :_analytics
    %script{:type => 'text/javascript', :src => "https://www.google.com/jsapi"}
    %script{:type => 'text/javascript', :src => '/javascripts/bootstrap-buttons.js'}
    %script{:src=>"/javascripts/script.js"}
